# Import CSV File

In [ ]:
# %let path = "..."
# PROC IMPORT datafile="&path" 
#         out=df 
#         dbms=CSV; 
# RUN; 
# 
# Import other types of files in sas by changing the dbms.

In [19]:
import pandas as pd
    # In order to perform certain actions, we need to import packages. 
    # For example, to work with tables (also called DataFrames), we need the pandas packages 

path = "C:/Users/sspkak/Desktop/Others/Python stuff/Diamonds.csv"
df=pd.read_csv(path)
    # Import other types of files in python by changing the read function

In [5]:
df.head(n=10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

# Subsetting Specific Columns

In [45]:
df_price=df[['Unnamed: 0','price']]
df_price.head()

   Unnamed: 0  price
0           1    326
1           2    326
2           3    327
3           4    334
4           5    335

# Merging / appending datasets